/* Base Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #f3f3f3;
  }

  a {
    text-decoration: none;
    list-style-type: none;
  }

/* End Base Styles */

/* Navbar Styles */

.navbar {
    padding: 10px;
    background: black;
}

.navBarTitle {
    margin: 10px 0 0 10px;
    color: white;
}

.NavMenu a{
    color: gold;
    margin-right: 50px;
    float: right;
}
/* End Navbar Styles */

/* Dashboard styles */

.dashboard {
    margin: 20px;
}

.characterCard {
    border: 1px solid black;
    width: 200px;
    padding: 5px;
    margin: 50px;
}

.card-title {
    font-size: 1.3rem;
}

.cardButtons {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}

/* End Dashboard Styles */

/* Character Form Styles */

.formTitle {
    display: flex;
    justify-content: center;
}

.characterName {
    padding: 5px;
    margin: 10px;
    width: 25%;
}

.characterRace {
    padding: 5px;
    margin: 10px;
}

.characterClass {
    padding: 5px;
    margin: 10px; 
}

.characterLevel {
    padding: 5px;
    margin: 10px;
    width: 50px;
}

.skills {
    display: flex;
    flex-direction: column;
    width: 50px;
}
.skill {
    width: 50px;
    margin: 10px;
    padding: 5px;
}

.healthbar {
    width: 75%;
    position: absolute;
    margin-left: 400px;
}

.health {
    width: 50px;
    margin: 10px;
    padding: 5px;
}

.tools {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 50px 0 0 100px;
}

.toolInput {
    margin-top: 40px;
    padding: 5px;
}

.characterAge {
    width: 50px;
    margin: 10px;
    padding: 5px; 
}

.characterSex {
    width: 50px;
    margin: 10px;
    padding: 5px; 
}

.weight {
    width: 75px;
    margin: 10px;
    padding: 5px;
}

.height {
    width: 75px;
    margin: 10px;
    padding: 5px;
}

.hairStyle {
    margin: 10px;
    padding: 5px;
}

.eyeColor {
    margin: 10px;
    padding: 5px;
}

.skinColor {
    margin: 10px;
    padding: 5px;
}

.background {
    margin: 10px;
}

textarea {
    resize: none;
}

.alignment {
    width: 200px;
    margin: 10px;
    padding: 5px;
}

.faith {
    width: 200px;
    margin: 10px;
    padding: 5px; 
}

.lifeStyle {
    width: 200px;
    margin: 10px;
    padding: 5px;
}

.personality {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.people {
    margin: 10px;
}

.organization {
    width: 25%;
    margin: 10px;
    padding: 5px;
}

.allies {
    width: 25%;
    margin: 10px;
    padding: 5px;
}

.enemies {
    width: 25%;
    margin: 10px;
    padding: 5px;
}

.backstory {
    margin: 10px;
}


/* End Character Form Styles */


