@model List<Character>
<div class="col-12 text-end m-2">
    <a asp-controller="Character" asp-action="Upsert" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i>  Create New Character
    </a>
</div>
<div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-dark py-2">Character List</h2>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-6">
    @foreach(var character in Model) {
    <a asp-controller="Character" asp-action="@character.Id" 
        class="card border-0 m-3 p-3 shadow border-top rounded" 
        style="text-decoration: none;"
    >
        <div class="card-body pb-0">
            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@character.Name</p>
            <p class="card-title text-center">@character.Race - Level: @character.Level</p>
        </div>
    </a>
    }
</div>
